@import "tailwindcss";

@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0F1115;
    color: #E5E7EB;
    font-family: "Courier New", Courier, monospace;
  }
}
